$primary: #196BBD;
$secondary: #03090F;
$text: #03090F;
$fill: #F2F5F9;
$border: #E5E5E5;
$danger: #cc2000;
$placeholder: #c4c4c4;
$coolBlue: #0d6efd;
$white: white;
$success: #28a745;
$clearGray: #636567;